</div>
<footer id="footer">
	<div class="container">
		<div class="row">
			<aside id="sociallinks">
				<ul>
					<li><a href="https://twitter.com/#!/martinBrilon" class="twitter" title="Twitter" target="_blank">Twitter</a></li>
					<li><a href="https://plus.google.com/+MartinHerbst?rel=author" class="googleplus" title="Google+" target="_blank">Google+</a></li>
					<li><a href="http://de.linkedin.com/pub/martin-herbst/23/628/181" class="linkedin" title="LinkedIn" target="_blank">LinkedIn</a></li>
					<li><a href="http://www.xing.com/profile/Martin_Herbst2" class="xing" title="Xing" target="_blank">Xing</a></li>
					<li><a href="https://www.facebook.com/mherbst66" class="facebook" title="Facebook" target="_blank">Facebook</a></li>
					<li><a href="http://500px.com/mherbst66" class="fivehundredpx" title="500px" target="_blank">500px</a></li>
					<li><a href="https://github.com/MHerbst" class="github" title="GitHub" target="_blank">GitHub</a></li>
					<li><a href="mailto:webmaster@mherbst.de" class="mail" title="Email" target="_blank">E-Mail an Webmaster</a></li>
			   </ul>
		   </aside>
		</div>
		<div class="row" id="bottomblock">
			<div class="col-xs-12 ">
				<koken:navigation group="footer" class="nav nav-default nav-pills nav-justified" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12" id="copyright">
				<div class="pull-left"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"> 
					<koken:asset file="images/cc88x31.png" alt="Creative Commons BY-NC-SA 3.0" title="Creative Commons BY-NC-SA 3.0" width="88" height="31" /></a>
				</div>
				<div style="font-size: 10x">Sofern nichts anderes angegeben, sind alle Inhalte dieser Website lizensiert unter einer <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative
					Commons Namensnennung-Nicht-kommerziell-Weitergabe unter gleichen Bedingungen 3.0 Unported Lizenz.</a>
				</div>
				<div style="margin-top:15px">&copy; Copyright 2011-{{ year }} <a rel="copyright" href="//www.mherbst.de/seiten/5/">Martin Herbst</a>. Alle Rechte vorbehalten</div>
			</div>
			
		</div>

	</div>
</footer>
<koken:asset file="js/bootstrap.min.js" />
</body>
</html>