<li>
	<div class="g-plusone" data-size="medium" data-annotation="inline" data-width="200"></div>
</li>
<li>
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="martinBrilon" data-lang="de">Tweet</a>
<!--      <a href="https://twitter.com/intent/tweet?text={{ album.title url_encode="true" }}&url={{ album.url url_encode="true" }}" title="Share {{ album.title url_encode="true" }} on Twitter" target="_blank">
kann ich das verwenden -->
</li>
<!-- Fügen Sie dieses Tag nach dem letzten +1-Schaltfläche-Tag ein. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'de'};
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<!--  Twitter API -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<li>
  <a href="http://pinterest.com/pin/create/button/?url={{ album.url url_encode="true" }}&media={{ album.covers.first.presets.large.url url_encode="true" }}&description={{ album.title url_encode="true" }}" title="Share {{ album.title url_encode="true" }} on Pinterest" data-pin-do="buttonPin" data-pin-config="beside" target="_blank">
  </a>
  <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
</li>

<!-- Flattr -->
